<!-- views/partials/nav.ejs -->
<head>
    <link rel="stylesheet" href="/css/nav_style.css" type="text/css">
</head>
<nav>
    <section class="container">

        <section>
            <h1>
                <span class = nav_title>BOOK DIARY</span>
            </h1>
            WE BOOKER
            <br>

            <div class="nav_link">
            
                <a class = "nav_a" href="/posts">Diary</a> 
                <a class = "nav_a" href="/Auth/logout">Logout</a> 
            
                <a class = "nav_a" href="/Auth/login">Login</a> 
                <a class= "nav_a" href="/searchs">Search</a>
                <a class = "nav_a" href="/about">about</a> 
                <a class = "nav_a" href="/">Home</a> 
          
            </div>
        </section>
        
    </section>
</nav>
