.login_title{
    width: 200px ; 
    margin:0 auto;
}
.login_form{
    display: flex;
    margin: 20px auto 50px auto;
    font-size: 20px;
}
.login_all{
    text-align: right;
    border: solid 5px hotpink;
    padding: 50px;
}
.login2signup, .signup2login{
    display: block;
    width:100px;
}