*{
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    text-align: center;
}
html, body {
    height: 100%;
    position: relative;
}
a{
    color: gray;
}
.footer{
    margin: 20px auto 5px auto;
    width: 100%;
    height: 30;
    background:#f0c2ea;
    text-align: center;
    color: white;
}
